[submodule "s1"]
	path = s1
	url = git@github.com:pityonline/s1.git
[submodule "s2"]
	path = s2
	url = git@github.com:pityonline/s2.git
[submodule "s3"]
	path = s3
	url = /Users/pity/Dropbox/git/s3.git
